table {
    border: 1px solid grey;
    text-align: center;
}

table td {
    border: 1px solid grey;
    min-width: 25px;
}

.left_align {
    text-align: left;
}

.right_align {
    text-align: right;
}

#cell_J {
    vertical-align: bottom;
}

.bold_text {
    font-weight: bold;
    margin: 0px 5px;;
}

form {
    width: 320px;
    border: 1px solid grey;
}

fieldset  {
    display: inline;
    border: none;
}

fieldset  p {
    float: right;
}

#calc_table {
    text-align: center;
    border: 1px solid #66FFFF;
    border-collapse: collapse;
}

#calc_table td {
    padding: 0;
}

.table_btn {
    width: 100%;
}

#calc_table input, #calc_table button {
    color: #66FFFF;
    background-color: #F0FFFF;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 1px 1px grey;
}
